/*
// Site's Footer
// ------------------------------------------------ */
  .main-footer {
    padding-top: 5rem;
    padding-bottom: .5rem;
    background: #1a1a1a;

    small {
      color: #fff;
    }

    a { color: color(grey); }

    .arrow-wrapper {
      position: fixed;
      padding: 0;
      right: 3.5rem;
      bottom: 3rem;
      display: inline-block;
      width: 3.6rem;
      height: 3.6rem;
      background: #fff;
      border: 0.25rem solid #0085B7;
      border-radius: 50%;
      z-index: z(drama);
      outline: none;
      cursor: pointer;

      i {
        font-size: 2.3rem;
        line-height: 3rem;
        color: #0085B7;
      }
    }
    .footer-list {
      .list-heading {
        font: 1.5rem/4rem $font-os-semibold;
        color: #fff;
      }
      li {
        font: 1.4rem/3.3rem $font-os-regular;
        color: #797979;
        &:before {
          content: "";
        }
      }
    }
    .show-arrow {
      opacity: 1;
      transition: opacity 500ms linear;
    }
    .zero { 
      opacity: 0; 
      transition: opacity 100ms linear;
    }
    @include respond-to(xsmall) {
      // .phone-number{ margin-top: -.6rem; }
    }
    @include respond-to(small) {
     /*  .phone-number{ margin-top: 0rem; }
      .arrow-wrapper { bottom: 15.5rem; } */
    }
    @include respond-to(medium) {
      // .arrow-wrapper { bottom: 15.5rem; }
    }
    @include respond-to(large) {
      // .open-hours { margin-top: .8rem; }
      // .arrow-wrapper { bottom: 14rem; }
    }
    @include respond-to(xlarge) {
      .arrow-wrapper {
        width: 4.2rem;
        height: 4.2rem;
        i {
          font-size: 2.9rem;
          line-height: 3.6rem;
        }
      }
    }
    @include respond-to(xxl) {
      // .arrow-wrapper { right: 25.7rem; bottom: 34.7rem;}
    }
  }
