/*
// Site Header
// ------------------------------------------------ */

//==== Base ====//
  .mm-subnav {
    height: 0;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    a {
      padding: 0 1.2rem;
      margin: 0 .2rem;
      font-size: 1.2rem;
      color: color(grey);

      &:hover { color: #fff; }
    }
    @include respond-to(large) {
        height: $mm-sub-height;
        line-height: $mm-sub-height;
        visibility: visible;
        opacity: 1;
    }
  }
  .mm-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $mm-height;
    z-index: z(header);
    background: color(grey, darker-3);
    transition: all 0.3s ease-out;

    & > .row { height: $mm-height; }
  }
  .mm-main {
    @include respond-to(xlarge) {
      position: relative;
      width: $container-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .mm-book {
    position: absolute;
    top: 0;
    right: 7.5rem;
    display: inline-block;
    min-height: $mm-height;
    font-size: 1.5rem;
    line-height: $mm-height;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      color: #fff;
    }

    span,
    i { vertical-align: top; }
    small { 
      display: block; 
      font-size: 1.1rem;
      line-height: 1;
      color: color(blue);
      margin-top: -2.5rem;
      letter-spacing: 0.05rem;
    }
    @include respond-to(small) {
      opacity: 1;
      visibility: visible;
    }
    @include respond-to(xlarge) {
      span {
        font-size: 3rem;
        line-height: 5.5rem;
      }
    }
  }
  .mm-links.mm-links {
    padding-top: 1.5rem;
    border-bottom: 0;

    a {
      margin: 0;
      padding: .8rem 2rem;
      color: color(grey);
    }
  }
  .mm-trigger { display: none; }

  .mm-disclaimer { 
    margin-top: 2.5rem;
    font-size: 1rem;
    color: color(grey); 
  }

//==== Logo ====//
  .main-logo {
    height: 100%;
    margin: 0;

    a {
      position: relative;
      display: block;
      padding: 0 1rem 4px;
      line-height: $mm-height;
      font-size: 3.6rem;
      color: #fff;
    }
    i {
      margin-top: -1rem;
      font-size: 5.5rem;
      color: #fdfdfd;
    }
    span {
      @include font($font-size: .7rem, $line-height: 1, $font-family: $font-os-semibold);
      display: block;
      width: 100%;
      margin-top: -15px;
      color: #fff;
      text-align: center;
    }
    small {
      display: inline-block;
      margin-top: -1rem;
    }
  }

//==== Hidden Menu ====//
  .mm-body {
    position: absolute;
    top: $mm-height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z(header);
    height: auto;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    background: #000;

    h3 {
      font-size: 2rem;
      color: color(blue);
    }
    .mm-sub-ttl {
      font-size: 2rem;
    }
    & > .container {
      padding-top: 4rem;
      padding-bottom: 10rem;

      @include respond-to(xlarge) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

//==== Mobile Menu Button ====//
  .mm-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    max-width: 6rem;
    width: 100%;
    min-height: $mm-height;
    background: none;
    cursor: pointer;

    b,
    b::before,
    b::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 3.2rem;
      height: .4rem;
      background: white;
      border-radius: .2rem;
      transform: translate( -50%, -50% );
      transition: all .6s;
      content: '';
    }
    b {
      &::before { margin-top: -1rem; }
      &::after { margin-top: 1rem; }
    }
  }

//==== Mobile ====//
  #mm-aside {
    display: none;

    &:checked {
      & ~ .mm-header {
        height: 100%;

        .mm-body { visibility: visible; }
        .mm-book {
          @include respond-to-max(medium) {
            transform: translatey(-200%);
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
          }
        }
        .mm-btn {
          b {
            margin: -.2rem 0 0 -1.6rem;
            background: transparent;

            &::before {
              margin-top: 0;
              transform: rotate(-45deg);
            }
            &::after {
              margin-top: 0;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  .mm-nav {
    border-top: 1px solid color(grey);

    li {
      position: relative;
      padding: 0 .7rem;
      border-bottom: 1px solid color(grey);

      &::before { content: '' }
    }
    a {
      display: block;
      margin: 1rem 0;
      color: color(grey, lighter-2);

      span { color: color(grey); }
      &:hover,
      &:hover span { color: #fff }
    }
    i {
      width: 3.5rem;
      margin-right: .3rem;
      text-align: center;
      font-size: 2.7rem;
    }
  }
  .mm-actions {
    margin-top: 1.2rem;
    margin-bottom: 1rem;

    a {
      span { 
        color: #fff; 
      }
      @include respond-to(large) {
        span {
          font-size: 2rem;
        }
      }
      &:hover {
        color: #fff;
      }
    }
    @include respond-to(large) {
      padding-top: 2.4rem;
      margin-top: 3rem;
      border-top: 1px solid color(grey, darker-2);

      a {
        text-align: center;

        i,
        span,
        small {
          display: block;
        }
        i {
          color: color(grey, lighter-1);
          margin: 0 auto 1.3rem;
        }
        small {
          font-size: 1.3rem;
          line-height: 1.5rem;
          color: color(grey, lighter-1);
        }
      }
    }
  }

//==== Mobile Triggers ====//
  .mm-trigger:checked ~ .mm-item {
    .mm-label {
      color: #AEBBBD;

      &::before { transform: translateY(-50%) rotate(-45deg); }
      &::after { transform: translateY(-50%) rotate(45deg); }
      &.wed-label { color: color(pink); }
    }
    .mm-sub {
      max-height: 900px;
      // padding-bottom: 1.2rem;
      transition: all 0.3s ease-in;
      visibility: visible;
      opacity: 1;
    }
  }
  .mm-sub {
    max-height: 0;
    // padding-bottom: 0;
    transition: all .5s ease-out;
    overflow: hidden;

    &::after {
      display: block;
      margin-bottom: 1.2rem;
      content: '';
    }
    a {
      margin: 0;
      padding: 0.5rem 0;
      color: color(grey);
    }
    .mm-sub-ttl {
      color: color(blue);
    }
  }
  .mm-label {
    @include font($font-size: 3.2rem, $line-height: $mm-height, $font-family: $font-os-light);
    position: relative;
    display: block;
    height: $mm-height;
    padding: 0 .1rem;
    //font: 3.2rem/#{$mm-height} $font-os-light;
    color: #fff;
    text-align: left;
    transition: color .3s ease;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 1rem;
      display: block;
      height: 2px;
      width: 19px;
      background: color(grey);
      transform: translateY(-50%);
      transition: transform .3s ease-in;
      content: '';
    }
    &::after { transform: translateY(-50%) rotate(90deg); }
  }

//==== RST ====//
  .mm-sub-rst {
    h3 { margin-top: 1.5rem; }
    a {
      color: #fff;

      span { font-size: 1.16rem; }
    }
    @include respond-to(large) {
      div:first-of-type {
        padding-left: 2rem;
      }
    }
  }

//==== Destinations ====//
  .mm-sub-islands {
    .bubble {
      margin: 1rem 0;
    }
    @include respond-to(large) {
      .mm-actions {
        margin-top: 1.5rem;
        padding-left: 1.5rem;
      }
    }
    @include respond-to(large) {
      div:first-of-type {
        padding-left: 1.5rem;
      }
    }    
  }

//==== JS Enabled ====//
  .mm.js {
    @include respond-to(xlarge) {
      // top: $mm-sub-height;
      // background: rgba(color(grey, darker-3), .9);

      .mm-body {
        background: transparent;

        .container { padding-left: 0; }
      }
      .mm-links { padding: 1rem 0; }
      .mm-nav {
        width: 30rem;
        height: 60.4rem;
        margin-top: 0;
        padding: 2rem 0;
        background: #000;
        border-top: 0;

        li {
          position: static;
          padding: 0;
          border-bottom: 0;

          //&:hover,
          // &.active {
          //   .mm-sub {
          //     visibility: visible;
          //     opacity: 1;
          //   }
          // }
        }
      }
      .mm-sub {
        position: absolute;
        top: 0;
        right: 0;
        width: 70.5rem;
        height: 100%;
        max-height: 100%;
        padding: 4rem;
        visibility: hidden;
        opacity: 0;
      }
      .mm-label {
        height: 5.5rem;
        padding: 0 2rem;

        &::before,
        &::after { display: none; }
      }
      .mm-sub-islands {
        padding-top: 0;
      }
    }
  }
  #mm-aside:checked {
    & ~ .mm.js {
      @include respond-to(xlarge) {
        height: 67rem;
        box-shadow: 0 10px 35px 5px rgba(0, 0, 0, .4);
      }
    }
  }
  #js-qq {
    .qq-container {
      max-width: inherit;
      background-color: transparent;
      padding: 0;

      .desc {
        color: #595959;
      }

      .qq-ending {
        color: color(blue);

        .amp, .bld {
          color: #fff;
        }
      }
    }

    .SingleDatePickerInput {
      background-color: #1a1a1a;
      border: 1px solid #797979;
    }
    .DateInput { background-color: #1a1a1a; }
    .DateInput__display-text { color: #fff; }

    .ddl-wrap {

      .ddl-text {
        background-color: #1a1a1a;
        border: 1px solid #797979;
        color: #fff;
      }
    }
    .field-wrap { margin-bottom: .83rem; }
  }

//==== Resorts ====//
  .mm-sub-rst {
    a,
    h3 {
      padding-left: 0.5rem;
    }
    @include respond-to(large) {
      a ~ h3 {
        margin: 2rem 0 .5rem;
      }
      div:nth-of-type(2) {
        a ~ h3 {
          margin-top: 3.5rem;
        }
      }   
    }    
    @include respond-to(xlarge) {
      a { margin: 1.5rem 0; }
      h3 {
        margin: .5rem 0 1.3rem;
        padding-bottom: 1rem;
        font-size: 2.6rem;
        border-bottom: 1px solid color(grey, darker-2);
      }       
      a,
      h3 {
        padding-left: 0;
      }
      a ~ h3 {
        margin: 3.2rem 0 0.5rem;
      }
      div:nth-of-type(2) {
        a ~ h3 {
          margin-top: 5.5rem;
        }
      }      
      .mm-actions {
        margin-top: 1rem;
        padding-top: 0.8rem;
        padding-left: 0.4rem;
      }
    }
  }

//==== Inclusions ====//
  .mm-sub-inclusions {
    padding-left: 0.75rem;
    .mm-inclusions-ttl {
      font-size: 2rem;
      line-height: 1;
      text-transform: uppercase;
      color: color(blue);
      span {
        font-size: 5rem;
        color: #fff;
      }
    }
    @include respond-to(large) {
      .mm-sub-ttl {
        padding-left: 2rem;
      }
      .row {
        div:first-of-type {
          padding-left: 2.5rem;
        }
      }
    }
    @include respond-to(xlarge) {
      padding-left: 3rem;
    }
  }

//==== Weddings ====//
  .mm-sub-wed {
    .mm-sub-ttl {
      padding: 1.5rem 0;
      color: color(pink);
    }
    i { margin-right: 0; }
    .icon-tag {
      width: 2.5rem;
      font-size: 2.5rem;
      color: #fff;
    }
    .mm-wed-sp-off {
      vertical-align: middle;
    }
    @include respond-to(large) {
      .mm-sub-ttl {
        padding: 0 0 1.2rem;
        margin: 4.8rem 0 0 2rem;
        border-bottom: 1px solid #373737;
        &:first-child {
          margin-top: 0;
          margin-right: 0;
          padding-top: 1.5rem;
        }
      }
      .mm-link {
        padding: 1rem 2rem;
      }
      .mm-actions {
        margin-top: 5rem;
        margin-bottom: 0;
        padding-bottom: 2.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        border-bottom: 1px solid;       
      }
      .mm-wed-sp-off {
        span {
          color: color(pink);
        }
      }
      .icon-chambas-logo {
        margin-right: .5rem;
        font-size: inherit;
        color: #fff;
        display: inline;
      }
      sup {
        font-size: 1.2rem;
      }
    }
  }

//==== Specials ====//
  .mm-sub-spcls {
    .chevron-sm {
      display: inline-block;
      margin-bottom: 0;
      margin-left: -1rem;
      transform: rotate(90deg);        
    }
    @include respond-to(large) {
      .mm-actions {
        span {
          line-height: 1;
        }
        .spcls-offer-ttl-large-up {
          font-size: 4.5rem;
          text-transform: uppercase;
          color: color(grey, lighter-1);
        }
        .spcls-view-offer {
          padding-left: 2.5rem;
          font-size: 2rem;
        }      
      }
    }
    @include respond-to(xlarge){
      .mm-sub-ttl {
        padding: 2rem 0 1rem;
        margin-left: 2rem;
        border-bottom: 1px solid #373737;
      }
      .mm-link {
        margin-left: 1rem;
        padding: 1rem 0;
      }
      .row {
        div:nth-child(odd) {
          .mm-link {
            margin-left: 2rem;
          }
        }      
      }
      .mm-actions {
        margin-top: 4rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #373737;
      }
    }    
  }

.bubble-wrap {
  padding: 0 1rem;
}
.bubble {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100% !important;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  transition: none;

  &:hover {
    box-shadow: 0px 0px 0px 4px color(blue);
  }
  .stripe {
    @include font($font-size: 1.3rem, $line-height: 1.2, $font-family: $font-os-semibold);
    position: absolute;
    left: 0;
    bottom: 1.2rem;
    width: 100%;
    padding: .6rem 0;
    // font: 1.3rem/1.2 $font-os-semibold;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);

    @include respond-to(large) {
      font-size: 1.5rem;
    }
  }
}
.qq-header {
  @include font($font-size: 3.3rem, $line-height: 3rem, $font-family: $font-os-semibold);
  margin: 4.33rem 0 2.23rem 0;
  color: #fff;
  border-bottom: 1px solid color(grey);
  // font: 3.3rem/3rem $font-os-semibold;

  span {
    @include font($font-size:1.86rem, $line-height: 2.23rem, $font-family: $font-os-semibold);
    margin-bottom: 1.7rem;
    // font: 1.86rem/2.23rem $font-os-semibold;
    color: color(blue);
  }
}

