.steps-wrapper {
	// width: 100%;
 //  margin: 5rem 0;
 margin-top: 5rem;
 margin-bottom: 5rem;

  @include respond-to(large) {
    padding-top: 3rem;
    padding-right: 0;
    padding-left: 0;
  }

  > .row {
    .bubble-wrapper:first-child() {
      .row {
        &::after {
          display: none;
        }
      }
    }
  }

  .bubble-wrapper {

    .row {
      &::after {
        position: absolute;
        bottom: 1.25rem;
        left: -1.5rem;
        width: 2.5rem;
        height: .2rem;
        content: '';
        background: #efefef;
        z-index: z(bottomless-pit);

        @include respond-to(large) {
          bottom: 2rem;
        }
        @include respond-to(xlarge) {
          left: -1.5rem;
          bottom: 2rem;
          width: 3rem;
          height: .4rem;
        }
        @include respond-to(xxl) {
          left: -2.5rem;
          width: 5rem;
        }
      }
    }
    
    @include respond-to(large) {
      margin-left: 1.6rem;

      &:first-of-type {
        margin-left: 0;
        margin-right: 1.2rem;

        .step-desc {
          padding-left: .5rem;
        }
      }

      &:nth-child(3) {
        margin-left: 0.1rem;
      }

      &:nth-child(n+4) {
        margin-left: 0.5rem;
      }
    }

    @include respond-to(xlarge) {
      margin-left: 0;
      
      &:first-of-type {
        margin-right: 4.5rem;
        margin-left: 3.5rem;
      }

      &:nth-child(n+4) {
        margin-left: 1.5rem;
      }
    }
  }

  .completed-step {
    .step-bubble {
      color: color(blue);
      border-color: color(blue);
    }
  }
  
  .current-step {
    .step-bubble {
      color: #fff;
      background: color(blue);
      border-color: color(blue);
    }
  }
  
  .completed-step,
  .current-step {
    .step-desc {
      color: color(blue);
    }
  }
  
 .step-desc {
    position: absolute;
    left: 50%;
    bottom: -1.5rem;
    transform: translateX(-50%);
    padding-left: 0;
    padding-right: 0;
    @include font($font-size: 1.2rem, $line-height: 1, $font-family: $font-os-bold);
    color: color(grey, lighter-2);

    @include respond-to(large) {
      position: static;
      left: 0;
      bottom: 0;
      margin-left: -.5rem;
      padding-left: .2rem;
      font-size: 1.5rem;
      transform: none;
    }

    @include respond-to(xlarge) {
      font-size: 2.6rem;
    }
  } 

  // .row {
  //   margin-right: 0;
  //   margin-left: 0;

  //   & > div {
  //     padding-right: 0;
  //     padding-left: 0;
  //   }
  // }

	.step-bubble {
    box-sizing: border-box;
		display: block;
		margin-left: auto;
		margin-right: auto;
    border: .3rem solid color(grey, lighter-2);
		width: 4.3rem;
		height: 4.3rem;
		border-radius: 50%;
    font-size: 1.6rem;
		line-height: 4.2rem;
		color: color(grey, lighter-2);
    background: #fefefe;
    z-index: z(default);

    @include respond-to(large) {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
      line-height: 4.5rem;
    }

    @include respond-to(xlarge) {
      width: 5.8rem;
      height: 5.8rem;
      line-height: 5.5rem;      
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }

    .icon-vacation-step,
    .icon-room-step {
      font-size: 2.2rem;

      @include respond-to(xlarge) {
        font-size: 3rem;
      }
    }

    .icon-room-step {
      left: 45%;
    }

    .icon-guest-step {
      font-size: 1.8rem;

      @include respond-to(xlarge) {
        font-size: 2.5rem;
      }
    }

    .icon-flight-step {
      top: 55%;
      font-size: 1.8rem;

      @include respond-to(xlarge) {
        font-size: 2.5rem;
      }
    }
	}
}