#dashboard-panel {
	background: #EAEAEA;
	padding-bottom: 5rem;
	@include respond-to(large){
		padding-top: 3rem;
	}
	@include respond-to(xlarge){
		padding-top: 6rem;
	}
}
.wrapper {
	width: 100%;
	margin: 0;

	.dashboard-ttl {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;
		@include respond-to(large){
			margin-top: 2rem;
		}
	}

	.or-copy {
		display: block;
		margin-bottom: 1rem;
		@include respond-to(large){
			margin-bottom: .5rem;
		}
	}

	.btn-default {
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-bottom: 1rem;
		width: 100%;
		font-family: $font-os-semibold;
	}

	.btn-register{
		margin-top: 1.5rem;
		@include respond-to(large){
			display: block;
			margin-right: auto;
			margin-left: auto;
			width: 45%;
		}
		@include respond-to(xlarge){
			width: 40%;
		}
	}

	.btn-blue {
		background-color: #3E92CC;
	}

	.facebook-btn {
		background-color: #3B5998;
	}

	.google-btn {
		background-color: #C71610;
	}
}

.login-form {
	.btn-default {
		@include respond-to(large){
			margin-bottom: .5rem;
			width: 60%;
		}
	}
}