.home-content {
  padding-top: 6.6rem;

  .black-font-theme {
    color: #131425;
  }

  .hero-ttl {
    top: 10%;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    font-size: 2rem; // 6rem desktop
    font-family: $font-os-semibold;
    color: #fff;

    @include respond-to(large) {
      top: 25%;
      left: 50%;
      width: 75%;
      transform: translateX(-50%);
    }
  }

  #root {
    bottom: 15%;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);

    @include respond-to(large) {
      bottom: 45%;
    }

    @include respond-to(xlarge) {
      width: 55%;
      bottom: 50%;
    }
    @include respond-to(xxl) {
      width: 50%;
      bottom: 60%;
    }
  }
  .react-autosuggest__input {
    padding-left: 5rem;
  }

  .section-ttl {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem; //3.6rem desktop
    font-family: $font-os-semibold;
    span {
      color: #543c90;
    }
  }

  .chambas-desc {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-bottom: 3rem;
    font: 1.2rem/1.3 $font-os-regular; // 1.8rem desktop
  }

  .chambas-how-it-works {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .workflow-ttl {
    margin-top: 1.5rem;
    font-size: 1.25rem; // 2.4rem desktop
    font-family: $font-os-semibold;
  }

  .workflow-desc {
    font: 1.2rem/1.3 $font-os-regular; // 1.8rem desktop
  }

  .chambas-benefits {
    padding: 3rem 2.5rem 1rem;

    .img-responsive {
      margin: 0 auto;
      width: 25%;
    }
  }

  .benefit-ttl {
    font: 1.2rem/1.3 $font-os-semibold; // 1.8rem desktop
    text-align: center;
  }

  .benefit-desc {
    font: 1.1rem/1.2 $font-os-regular; //1.6rem desktop
    text-align: center;
  }

  .chambas-services {
    padding: 2rem 2.5rem;

    .section-ttl {
      margin-top: .5rem;
      color: #3e2667;
    }
  }

  .service-card {
    margin-bottom: 1.5rem;
    img {
      // min-height: 248px;
    }
  }

  .service-label {
    bottom: 1rem;
    left: 0;
    padding: .4rem .9rem;
    font: 1.2rem/1.3rem $font-os-semibold; // 3.6rem desktop
    color: #fff;
    background-color: #543c90;
  }

  .chambas-join-us {
    padding: 11rem 2.5rem 11rem;
    background: #543C8F;
    margin-right: 0;
    .section-ttl {
      margin-bottom: 1rem;
      color: #fff;
    }

    .join-us-content {
      
    }

    .join-us-copy {
      font: 1.5rem/1.4 $font-os-regular; //1.8rem desktop
      color: #fff;
    }

    li {
      padding-left: 0;
      font: 1.3rem/1.2 $font-os-regular; //1.8rem desktop
      color: #fff;

      &:before {
        display: none;
      }
    }

    .btn-register {
      display: block;
      margin: 1.5rem auto;
      width: 75%;
      font-size: 1.25rem;
      color: #fff;
      background-color: #0486b8;
    }
  }
}

 /*  @include respond-to(xlarge) {
    .home-content {
      .chambas-join-us {
        .join-us-content {
          padding: 11rem 25rem 11rem;
        }
      }
    }
  } */