.job-creation {
	width: 100%;
	margin: 0;

	&-ttl {
		font-size: 3rem;
	}
	.ddl-text {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		font-size: 1.1rem;

		.ddl-icon {
			&:before {
				border-color: transparent transparent #DD6E42;
			}
			&:after {
				border-color: #DD6E42 transparent transparent;
			}
		}
	}
	input[type=number] {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.btn-default {
		margin-top: .5rem;
		margin-bottom: 1rem;
		width: 100%;
		background-color: #3E92CC;
		font-family: $font-os-semibold;
	}
	.gmap-btn {
		margin-top: .5rem;
		margin-bottom: 1.5rem;
	}
}