#subscribe-panel {
	.main-bg-wrapper {
	    padding-top: 6.5rem;
	}
	.main-content {
		position: absolute;
	}
	.headline {
		padding-left: 2rem;
		padding-right: 2rem;
	    margin-top: 3rem;
		font-size: 2rem;
		color: #fff;
		text-align: center;
	}
	label {
	    color: #fff;
	    text-align: center;
        padding-bottom: 1rem;
	    display: block;
	    margin: 0 auto;
	}
	.subscribe-input {
	  	display: block;
	  	margin: 0 auto 1rem;
	    border: 1px solid #e2e2e2;
	    border-radius: .5rem;
	    outline: none;
	    box-shadow: inset 1px 1px 1px 0.2px rgba(0,0,0,.34);
	    -webkit-appearance: none;
	    background-color: #fdfdfd;
	    padding: .5rem;
	}
	.subscribe-bg {
	    min-height: 22rem;
	}
	.subscribe-btn {
	    background: #dc6e41;
	    margin: 0 auto;
	    display: block;
	    padding: .5rem 3rem;
	    border-radius: .7rem;
	    color: #fff;
	}
	.intro-wrapper {
		background: #F9FAFB;
		padding: 2rem 2rem;
	    text-align: center;

		.intro-title {
			font: 2rem $font-os-semibold;
		}
		.intro-copy {
			font: 1.5rem $font-os-light;
		}
	}
	.subscribe-steps {
		h3 {
			margin-bottom: 2rem;
			font: 2rem $font-os-regular;
		}
	}
}