.profile-card {
  font-size: 1rem;
}

.portrait {
  width: 100%;
  border-radius: 50%;
}

.profile-details {
  color: black;
  text-align: center;
}

.user-rating {
  margin: 0 auto;
}

.icon-rating {
  width: 20%;
  height: 32px;
}
