/*
// Styleguide page
// ------------------------------------------------ */

//==== Base ====//
  .vw-styleguide {
    h3.main-ttl {
      margin-top: 2rem;
    }
    h5.section-ttl {
      padding-bottom: 1rem;
      margin: 6rem 0 2rem;
      font-weight: bold;
      border-bottom: 1px solid hsla(0,0%,87%,.6);
    }
    h5.section-ttl::before {
      margin-right: 1rem;
      font-size: 60%;
      color: color(grey, lighter-1);
      counter-increment: section;
      content: counter(section, decimal-leading-zero);
    }
    h6 b { font-family: 'OpenSans-Semibold' }
    small { font-size: 60%; }
    button {
      border: 0;
      outline: 0;
    }
    footer {
      margin-top: 10rem;
    }
    .content {
      counter-reset: section;

      code {
        padding: 0 .5rem;
        color: color(red);
        background: color(grey, lighter-3);
      }
    }

    //==== Grid ====//
    .col {
      display: block;
      margin: .5rem 0;
      line-height: 3rem;
      color: color(grey, darker-2);
      background: lighten(color(blue), 25%);

      .col {
        color: #fff;
        background: color(blue, darker-1);
      }
    }
    .width-xs { width: map-get($breakpoints, xsmall); }
    .width-sm { width: map-get($breakpoints, small); }
    .width-md { width: map-get($breakpoints, medium); }
    .width-lg { width: map-get($breakpoints, large); }
    .width-xl { width: map-get($breakpoints, xlarge); }

    //==== Colors ====//
    .color {
      margin-bottom: 1rem;

      button { height: 6rem; }
      small { display: block; font-size: 70%; }
      .desc {
        color: #fff;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);

        &.dark {
          color: color(grey, darker-2);
          text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
        }
      }
    }
    .grey {
      background: color(grey, default);

      &.darker-3 { background: color(grey, darker-3); }
      &.darker-2 { background: color(grey, darker-2); }
      &.darker-1 { background: color(grey, darker-1); }
      &.lighter-1 { background: color(grey, lighter-1); }
      &.lighter-2 { background: color(grey, lighter-2); }
      &.lighter-3 { background: color(grey, lighter-3); }
    }

    .blue {
      background: color(blue, default);

      &.darker-1 { background: color(blue, darker-1); }
      &.lighter-1 { background: color(blue, lighter-1); }
    }
    .red { background: color(red); }
    .pink { background: color(pink) }
    input {
      margin: 2rem 0;
    }
  }