<footer class="main-footer">
  <div class="container pr">
    <button class="arrow-wrapper zero">
      <i class="icon-arrow-up2"> </i>
    </button>
    <div class="row">
      <div class="xs-12 lg-4">
        <ul class="footer-list company">
          <li class="list-heading">Compañía</li>
          <li>Sobre Nosotros</li>
          <li>Contacto</li>
          <li>Preguntas Frecuentes</li>
          <li>Guías</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="xs-12 lg-4">
        <ul class="footer-list social">
          <li class="list-heading">Social Media</li>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Youtube</li>
        </ul>
      </div>
      <div class="xs-12 lg-4">
        <ul class="footer-list legal">
          <li class="list-heading">Información Legal</li>
          <li>Términos y condiciones</li>
          <li>Política de privacidad</li>
        </ul>
      </div>
    </div>

    <div class="row txt-center">
      <div class="xs-12">
        <h1 class="main-logo ib">
          <a href="/">
            <i class="icon-chambas-logo ib"></i>
          </a>
        </h1>
      </div>
    </div>
  </div>
</footer>
