<input type="checkbox" id="mm-aside">
<header id="js-main-menu" class="mm-header mm">
  <div class="container-fluid">
    <div class="row middle-xs between-xs mm-main">
      <h1 class="main-logo">
        <a href="/">
          <i class="icon-chambas-logo ib"></i>
          <small class="ib">Chambas</small>
        </a>
      </h1>
      {{#unless noNavigation}}
        <label class="mm-btn pull-right" for="mm-aside"><b></b></label>
      {{/unless}}
    </div>
  </div>
  {{#unless noNavigation}}
    <nav class="mm-body">
      <div class="container pr">
        <ul class="mm-nav">
          <li class="">
            <input type="radio" name="mm-sub" class="mm-trigger" id="mm-sub-islands">
            <div class="mm-item">
              <label class="mm-label" for="mm-sub-islands">Iniciar Sesi&#243;n</label>
              <div class="mm-sub-islands mm-sub">
                <div class="row">
                  <div class="xs-12 lg-4 bubble-wrap">
                      <a href="/dashboard" class="">
                          <span class="stripe">Acceder</span>
                      </a>
                  </div>
                  <div class="xs-12 lg-4 bubble-wrap">
                    <a href="/dashboard" class="">
                      <span class="stripe">Regístrarse</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <input type="radio" name="mm-sub" class="mm-trigger" id="solicitudes">
            <div class="mm-item">
              <label class="mm-label" for="solicitudes">Solicitudes</label>
              <div class="mm-sub-islands mm-sub">
                <div class="row">
                  <div class="xs-12 lg-4 bubble-wrap">
                    <a href="/dashboard" class="">
                      <span class="stripe">Nuevo trabajo</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <input type="radio" name="mm-sub" class="mm-trigger" id="proveedores">
            <div class="mm-item">
              <label class="mm-label" for="proveedores">Proveedores</label>
              <div class="mm-sub-islands mm-sub">
                <div class="row">
                  <div class="xs-12 lg-4 bubble-wrap">
                    <a href="/provider" class="">
                      <span class="stripe">Quiero ser proveedor</span>
                    </a>
                  </div>
                  <div class="xs-12 lg-4 bubble-wrap">
                    <a href="/dashboard" class="">
                      <span class="stripe">Proveedores destacados</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="">
            <input type="radio" name="mm-sub" class="mm-trigger" id="servicios">
            <div class="mm-item">
              <label class="mm-label" for="servicios">Servicios</label>
              <div class="mm-sub-islands mm-sub">
                <div class="row">
                  <div class="xs-12 lg-4 bubble-wrap">
                    <a href="/task-collection" class="">
                      <span class="stripe">Categorias</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  {{/unless}}
</header>
