<script>
    window._app = new function() {
        this.paths = {
            assets: '/assets'
        };
        this.paths.js = this.paths.assets + '/js'
    };
</script>
<script src="/assets/js/master.js" defer></script>
{{!-- <link rel="preload" as="script" href="/assets/js/master.js"> --}}