/*
// Animations used throughout the site
// ------------------------------------------------ */
.la {
	background: linear-gradient(269deg, #000000, #4d4c4c);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 51%}
	    50%{background-position:51% 100%}
	    100%{background-position:0% 51%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 51%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 51%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 51%}
	    50%{background-position:51% 100%}
	    100%{background-position:0% 51%}
	}
}