/*
// Cards
// ------------------------------------------------ */

/*==== Base ====*/

$body: #e0e0e0;
$card: #fff;
$shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.25);

.flex {
  display: flex;
  width: 100%;
  flex-flow: wrap row;
  justify-content: center;
}

.card {
/*   width: 300px;
  height: 400px; */
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  background: $card;
  border-radius: 2px;
  box-shadow: $shadow;
  transition: 0.4s all ease;
  .img {
    width: 100%;
  }
  .content {
    .featured {
        color: darken($body, 25%);
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 2px;
    }
    .title {
      font-family: 'Playfair Display', serif;
      margin-top: 0.5rem;
      position: relative;
      text-align: center;
    }
    .description {
      color: darken($body, 75%);
      font-size: 1.2rem;
    }
  }
  &:hover {
    box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.25);
    // animation: levitate 1s ease-in-out alternate;
  }
}

@keyframes levitate {
  0%  {
    transform: translateY(-6px);
    box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translateY(3px);
    box-shadow: 0px 10px 2px 1px rgba(0, 0, 0, 0.25);
  }
}