.countdown {
	height: 19.9rem;
	margin-bottom: 1rem;
	border-radius: .3rem;
	background-color: #373737;
	color: #fff;

	.save-up-to {
    @include font($font-size: 10.6rem, $line-height: 10.1rem, $font-family: $font-os-regular-name);
		height: 10.6rem;
		// font: 10.6rem/10.1rem $font-os-regular-name; 
    text-align: center;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    sup {
      top: -.60em;
      margin-left: -.4rem;
      font-size: 57%;
    }
	}
	.save {
    @include font($font-size: 1.5rem, $line-height: 2.5rem, $font-family: $font-os-semibold-name);
    position: relative;
    top: -4.6rem;
		// font: 1.5rem $font-os-semibold-name;
		display: inline-block;
		color: color(blue);

    big {
      margin-bottom: -1rem;
      font-size: 1.9rem;
    }
	}
	.cd-counter {
		position: relative;
    width: 25.7rem;
    top: .9rem;
    left: 50%;
    transform: translatex(-50%);
    .days, .hours, .minutes {

      &:after {
        content: ':';
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 1.2rem;
      }
    }
    .hours {

      &:after {
        margin-right: -.7rem;
      }
    }
    .minutes {
      padding-left: 1.6rem;

      &:after {
        margin-right: -.8rem;
      }
    }
    .seconds {
      padding-left: 1.8rem;
    }
		.xs-3 {
			text-align: center;
      width: 5.3rem;

			big {
				display: block;
        padding-top: .9rem;
        margin-bottom: -.7rem;
			}
      small {
        font-size: 1rem;
      }
		}
	}
	.countdown-legend {
		height: 3.5rem;
		background-color: #ff0000;

    span {
      top: -.16rem;
      position: relative;
      margin-left: .5rem;
    }
    b {
      font-size: 2rem;
      line-height: 3.5rem;
		}
	}
}
