.custom-information-tooltip {
  width: 2rem;
  height: 2rem;
  padding: 0;
  color: color(blue);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: .25rem;
    background: transparent;
    opacity: 0;
    content: '';
    transition: all .4s linear;
    transform: translate(-50%,-50%);
  }

  &.open {
    background: color(blue);
    color: transparent;

    &:after,
    &:before {
      background: #fff;
      opacity: 1;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.custom-tooltip {
  box-shadow: 0 3px 1.5rem rgba(0, 0, 0, .25);

  &#{&}.chambas-theme {
    background: #fff;
    opacity: 1;
    pointer-events: auto;
  }

  &#{&}#{&}.place-top {
    &:after {
      bottom: -15px;
      margin-left: 0;
      width: 2rem;
      height: 2rem;
      background: #fff;
      transform: rotate(45deg) translateX(-50%);
      box-shadow: 2px 2px 3px rgba(0,0,0,.1);
      z-index: -1;
    }
  }
}