.SingleDatePicker__picker {
  background-color: transparent;
  button { outline: 0; }
}
.SingleDatePicker__picker--full-screen-portal {
  z-index: 10;
  background-color: #373737;
}
.DayPicker, .CalendarMonthGrid {
  // background: color(grey, darker-2);
  background: #fff;
}

.DayPickerNavigation--vertical {
  background: transparent;

  .DayPickerNavigation__next--default, .DayPickerNavigation__prev--default { 
    svg { fill: color(blue); }
    border: none;
    background-color: color(grey, darker-2);
  }
}
.CalendarDay {
    border: none;
    border-radius: 50%;
    // color: #fff;
    color: color(grey, darker-2);
}
.CalendarMonth__caption {
  margin-bottom: 1.7rem;
  color: #fff;
  color: color(grey);
  font-family: $font-os-light-name;
}
.CalendarDay--selected, .CalendarDay--selected-end, .CalendarDay--selected-start {
    // background: #00b8f4;
    color: #fff;
    background: color(blue);
    border: none;
}
.DayPicker__week-header li {
  // color: color(blue);
  color: color(grey);

  &:before {
    display: none;
  }
}
.CalendarDay--blocked-out-of-range {
  background: transparent;
  color: #666;
  color: color(grey, lighter-1);
}
.DayPickerNavigation__next--default, .DayPickerNavigation__prev--default {
  border: 1px solid color(blue);

  &:active { background: #292929; }
}

.CalendarDay__button {
  outline: 0;
  
  &:active {
    color: #fff;
    background: color(blue);
    border-radius: 50%;
  }
  &:hover {
    // background: #373737;
    // color: color(blue);
    background: color(blue);
    color: #fff;
  }
}
.DayPickerKeyboardShortcuts__show { display: none; }
.DayPickerKeyboardShortcuts__show--bottom-right { display: none; }

@include respond-to(large) {
  .DayPickerNavigation--horizontal{

      &:after {
        position: absolute;
        top: 25px;
        right: 37px;
        z-index: 1;
        border: solid color(blue);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(-45deg);
        content: '';
      }
      &:before {
        position: absolute;
        top: 25px;
        left: 37px;
        z-index: 1;
        border: solid color(blue);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg);
        content: '';
      }
    .DayPickerNavigation__prev--default, .DayPickerNavigation__next--default {
      background: transparent;
      border: none;
      svg { fill-opacity: 0; }
    }
  }
  .SingleDatePicker__picker { top: 5.7rem; }
  .DateInput--with-caret {

    &:before {top: 4.5rem;}
    &:after {
      top: 4.6rem;
      border-bottom-color: #fff;
    }
  }
  .DayPicker__week-header li {
    // color: #fff;
    color: color(grey);
    font-size: 1.6rem;
  }
  .CalendarMonth__caption {
    font-family: $font-os-regular-name;
  }
  .DateInput__display-text--focused {
    background: transparent;
  }
}
