.ddl-icon {
  position: absolute;
  width: 1.8rem;
  height: 1.9rem;
  // right: 1.26rem;

  &::before,
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
  }
  &::before {
    top: 0;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent color(blue) transparent;
  }
  &::after {
    bottom: 0;
    border-width: 7px 7px 0 7px;
    border-color: color(blue) transparent transparent transparent;
  }
}