/*
// Inputs
// ------------------------------------------------ */

/*==== Base ====*/
// input[type=text] {
//     box-sizing: border-box;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//   }

.input-radio,
.input-checkbox{
  display: none;
  visibility: hidden;

  ~ label {
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
  }
}

.input-radio {
  
  ~ label {
    .radio-btn {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2.6rem;
      height: 2.6rem;
      background: #fff;
      border-radius: 50%;
      border: 0.2rem solid #ccc;
      content: '';
      transform: translateY(-50%);

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        content: '';
        background: color(blue);
        transform: translate(-50%, -50%) scale(0);
        transition: transform $transition-duration linear;
      }      
    }
  }

  &:checked {

    ~ label {
      .radio-btn {
        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}

.input-checkbox {
  visibility: hidden;
  display: none;

  ~ label {
    padding-left: 4rem;

    .checkbox {
      position: absolute;
      top: 50%;
      left: 2%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 0.2rem solid #ccc;
      content: '';
      transform: translateY(-50%);
      transition: background $transition-duration linear;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.75rem;
        height: .75rem;
        border-radius: .2rem;
        border-width: 0 0 .4rem .5rem;
        border-style: solid;
        border-color: #fff;
        transform: translate(-50%, -50%) rotate(-45deg);
        visibility: hidden;
        opacity: 0;
        content: '';
        transition: opacity $transition-duration linear;
      }
    }     
  }

  &:checked {
    ~ label {
      .checkbox {
        background: color(blue);

        &::after {
          visibility: visible;
          opacity: 1;
        }        
      }
    }
  }
}
