// Input with Auto Suggester styles
.react-autosuggest__container {
  position: relative;
}

.auto-suggester-wrapper {
  i {
    position: absolute;
    color: color(blue);
    top: 50%;
    right: 1.7rem;
    transform: translateY(-50%);
    font-size: 2rem;
    pointer-events: none;
  }
  .suggestion-item {
    padding-left: 1.5rem;
    
    i {
      right: 0;
      left: 1rem;
    }
    strong {
      font-size: 1.9rem;
    }
  }
}

.react-autosuggest__input {
  @include font($font-size: 1.5rem, $font-family: $font-os-semibold );
  width: 100%;
  padding: 1.2rem 4rem 1.2rem 1rem;
  border: 1px solid #aaa;
  border-radius: .3rem;
  color: color(grey);
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  @include font($font-size: 1.5rem, $font-family: $font-os-semibold );
  position: absolute;
  top: 4.2rem;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;

  li {
    &::before {
      display: none;
    }
  }
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: color(blue);
}