/*
// Modals Component
// ------------------------------------------------ */

//==== Base ====//
  .mdl-wrap {}

//==== Content ====//
  .mdl-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: z(modal);
    max-height: 100%;
    max-width: 1200px;
    width: 90%;
    background: #fff;
    transform: translate(-50%, -50%);

    button { cursor: pointer; }
    .mdl-content {
      height: 100%;
      padding: 0;

      & > .row { height: 100%; }
    }
    .user-img {
      padding: 2rem 0;
      text-align: center;
      background: color(grey, darker-1);

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .mdl-nav {
    background: #4b4b4b;

    nav { padding-top: 2rem; }
  }
  .mdl-main {
    overflow-y: scroll;
    height: 100%;

    .tab-menu,
    .tab-content,
    .loader { height: 100%; }
    .loader { position: relative; }

    .modal-header-container {
      padding: 22px 45px;
      padding-bottom: 0;
    }

    .ttl-guest-name {
      color: black;
      font-size: 24px;
      font-weight: bold;
    }
    .ttl-blue {
      font-size: 18px;
      font-weight: bold;
      color: color(blue);
    }

    .hr-small {
      width: 95%;
    }

    .red {
      color: red;
    }

    .grey-darker-3 {
      color: color(grey,darker-3);
    }

    .info {
      padding-top: 24px;
      padding-bottom: 28px;
    }

    .bottom-line:not(:last-child) {
      border-bottom: 1px solid #e7e7e7;
    }
  }
  .mdl-close-btn {
    position: absolute;
    top: 15px;
    right: -40px;
    z-index: z(overlay);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 3px solid color(blue);
    border-radius: 50%;
    outline: none;
    transform: rotate(45deg);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 2px;
      display: block;
      background: color(blue);
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      content: '';
    }
    &::after { transform: translate(-50%, -50%) rotate(90deg); }

    &:hover {
      border: 3px solid red;

      &::before,
      &::after {
        background: red;
      }
    }
  }
  .acc-btn {
    position: relative;
    padding: .7rem 1rem .7rem 2.5rem;
    border: 0;
    margin-bottom: 5px;
    font: bold 1.4rem/2rem $font-arial;
    color: color(grey, darker-3);
    text-align: left;
    background: #a2a2a2;
    box-shadow: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background: color(grey);
      transition: all 0.3s ease;
      content: '';
    }
    &.active,
    &:hover {
      color: color(grey, darker-3);
      background: #fff;

      &::before { background: color(blue); }
    }
  }

//==== Overlay ====//
  .mdl-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z(overlay);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  body.stop-scrolling{
    overflow-y: hidden;
  }
