.qq-container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  padding: 3.8rem 2rem 0 2rem;
  background-color: #ededed;
  max-width: 48rem;

  .icon-calendar-2 {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: color(blue);
    font-size: 2.5rem;
    pointer-events: none;
  }
  .btn-blue {
    margin: 2.1rem 0 .4rem 0;
    font-size: 3rem;
  }
  .desc {
    @include font($font-size: 1.4rem, $line-height: 1.9rem, $font-family: $font-os-semibold-name);
    margin-bottom: 2px;
    display: inline-block;
    color: #373737;
    // font: 1.4rem/1.9rem $font-os-semibold-name;
  }

  .ddl-wrap {

    .ddl-text {
      @include font($font-size: 1.8rem, $line-height: 1.9rem, $font-family: $font-os-semibold-name);
      background-color: #fff;
      border: 1px solid #ddd;
      color: #acacac;
      // font: 1.8rem/1.9rem $font-os-semibold-name;
      padding: 1.2rem 4rem 1.2rem 1rem;
    }
  }
  .qq-container {
    background-color: #f2f2f2;  
  }
  .SingleDatePicker {
    display: block;
  }
  .SingleDatePickerInput {
    margin-bottom: .8rem;
    border: 1px solid #ddd;
    border-radius: .3rem;
  }
  .DateInput {
    background-color: #fff;
    width: 100%;
  }
  .DateInput__display-text {
    padding: 4px 8px 4px 1px;
    color: #acacac;
    line-height: 1;
    font-family: $font-os-semibold-name;
  }

  .check-in-txt { margin-top: -.1rem; }
  .check-out-txt { margin-top: .9rem; }

  .qq-ending {
    @include font($font-size: 1.6rem, $line-height: 2.2rem, $font-family: $font-os-semibold-name);
    margin-top: .76rem;
    // font: 1.6rem/2.2rem $font-os-semibold;
    color: #797979;
    .bld {
      font-family: $font-os-bold-name;
      color: #000;
    }
  }
}
