.select-resort {
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #636363;
  border-top: 1px solid #636363;

  h3 {
    @include font($font-size: 2.4rem, $font-family: $font-os-light);
    color: #fff;
  }
  .btn-open-modal {
    @include font($font-size: 1.4rem, $line-height: 1.8rem, $font-family: $font-os-semibold);
    height: 3.8rem;
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    background: #fff;
    text-align: left;
    color: #797979;
  }
  .modal-layout {
    width: 95%;
    padding-bottom: 2rem;
    background: #ddd;
    overflow: auto;
  }
}
.qq-container {
  .modal-top-bar {
    height: 4.3rem;
    padding: .6rem 0;
    padding-left: 1rem;
    background: #00b8f4;
    border-bottom: .1rem solid #2ccbff;
    box-shadow: 0 2px 40px -4px black;

    .prices-shown {
      @include font($font-size: 1.3rem, $line-height: 1.5rem, $font-family: $font-os-bold );
      margin-top: .2rem;
      padding-left: 2rem;
      text-transform: uppercase;
      letter-spacing: -.06rem;
      color: #fff;
    }
    ul {
      padding-left: 2rem;
      color: #fff;
      margin-top: -.6rem;

      li {
        @include font($font-size: .74rem, $line-height: 1.3rem, $font-family: $font-os-regular);
        float: left;
        padding-right: .5rem;
        padding-left: 0;

        i {
          padding-right: .5rem;
          &:before { border-color: #fff; width: 6px; height: 6px; }
        }
      }
      .edit-dates {
        text-transform: uppercase;
        font-weight: bold;

        button { color: #fff; }
      }
    }
  }
}
.not-sure {
  padding-left: 3rem;

  > .row {
    > div {
      margin-top: 1.5rem;
    }
  }

  h5 {
    @include font($font-size: 1.6rem, $line-height: 1, $font-family: $font-os-regular);
    margin-bottom: 0;
    color: #a6a6a6;
  }

  a {
    @include font($font-size: 1.5rem, $line-height: 1, $font-family: $font-os-regular);
    margin-top: 1.5rem;
    color: #fff;
    cursor: pointer;

    i { padding-right: 1rem;}
  }
}
.country-name {
  @include font($font-size: 3.35rem, $font-family: $font-os-light);
  padding-top: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  color: #373737;

  .country-desc {
    @include font($font-size: 1.3rem, $font-family: $font-os-regular);
    margin-top: -.93rem;
    display: block;
    color: #797979;
  }
}
.close-modal {
  position: fixed;
  right: .1rem;
  top: .8rem;
  color: #fff;
  font-family: $font-os-bold;
}


.resort-item-wrapper {
  &.selected {
    .white-container { background: #373737; }
    .resort-name { color: #fff; }
    .rate {
      small { color: #fff; }
      big { color: #fff; }
    }
    .rst-img-wrapper {
      opacity: .1;
    }
    .radio-row {
      margin-top: -2rem;
    }
  }
  .white-container {
    max-width: 94%;
    padding-top: .2rem;
    margin-top: 1rem;
    background: #fff;
    border-radius: .8rem;
    box-shadow: 0 7px 6px -6px #777;
  }
  .rst-name-wrapper {
    padding-right: 0;
    padding-bottom: .5rem;
  }
  .resort-name {
    @include font($font-size: 1.5rem, $font-family: $font-os-regular);
    padding-left: .5rem;
    text-transform: uppercase;

    i{ color:#acacac; font-size: 1.3rem;}
  }
  .rate {
    padding-left: 1rem;
    margin-top: 2rem;
    max-height: 5rem;
    text-transform: uppercase;

    small {
      @include font($font-size: .72rem, $font-family: $font-os-regular);
      padding-right: 0;
      text-align: right;
      color: #00b8f4;

    }
    big {
      @include font($font-size: 1.9rem, $font-family: $font-os-regular);
      padding-left: .3rem;
      line-height: 1.2rem;
      color: #00b8f4;
    }
    span {
      @include font($font-size: .7rem, $font-family: $font-os-semibold);
      line-height: .77rem;
      color: #acacac;
    }
    .currency {
      margin-left: -1.4rem;
    }
    &.below {
      width: 45%;
      margin: 0 auto;

      big {
        text-align: left;
      }
      .currency {
        margin-left: 0;
      }
    }
  }
  .rst-img-wrapper {
    padding: 0;
    margin-top: -2rem;
  }
  .desc-wrapper {
    position: relative;
    top: 14rem;
  }
  .resort-desc {
    @include font($font-size: .92rem, $font-family: $font-os-regular);
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .77rem;
    color: #797979;
  }
  .item-content {
    padding-left: 0;
    padding-right: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease-in;

    &.show-content {
      padding-top: 3rem;
      max-height: 200rem;
      overflow: visible;
      opacity: 1;
      transition: all .7s ease-out;
    }
    .modal-slider{ padding: 0; margin-top: -.1rem; }

    .slick-arrow {
      padding: 1px;
      border-radius: .3rem;
      border-width: 0 5px 5px 0;
      border-color: #fff;
    }
    .slick-next {
      right: 1rem;
    }
    .slick-prev {
      left: 13px;
    }
    .slick-list {
      width: 100%;
    }
    .slick-slide {
      border: none;
      min-height: 12.9rem;
      width: 288px;
    }
    .slick-dots {
      background: #282828;

      li {
        width: 15px;
        height: 18px;
        margin: 0;
        &:before {
          color: #565656;
          font-size: 25px;
          margin-top: -.4rem;
        }
        &.slick-active {
          &:before {
            color: #f8f8f8;
          }
        }
      }
    }
  }
  .radio-row {
    margin-top: 2.5rem;
  }
  .resort-radio {
    text-align: center;
    padding-bottom: 1rem;
  }
  .resort-highlights-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;

    .highlights-title {
      @include font($font-size: 1.7rem, $font-family: $font-os-light);
      margin-bottom: 1.5rem;
      color: #fff;
    }
  }
  .highlights-list-wrapper {
    padding-bottom: 2rem;
    .highlights-list {
      li {
        @include font($font-size: 1.1rem, $font-family: $font-os-regular);
        line-height: 1.6rem;
        color: #acacac;
      }
    }
  }
  .item-continue {
    .btn-continue {
      @include font($font-size: 1.2rem, $line-height: 1.7rem, $font-family: $font-os-regular);
      padding: 1.2rem 2rem;
      margin: 1rem auto 3rem auto;
      color: #fff;
      background: #00b8f4;
      &:before {
        content: 'select resort & continue';
        text-transform: uppercase;
      }
      &:hover {
        color: #fff;
        background-color: #28caff;
        border-color: transparent;
      }
    }
  }
}
@include respond-to(small) {
  .resort-item-wrapper {
    .desc-wrapper {
      top: 16.3rem;
    }
  }
}
@include respond-to(medium) {
  .resort-item-wrapper {
    .desc-wrapper {
      top: 18.3rem;
    }
  }
}

@include respond-to(large) {
  .qq-container {
    .select-resort {
      h3 {
      font-size: 2.7rem;
      }
    }
    .btn-open-modal {
      width: 98%;
    }
    .modal-top-bar {
      .prices-shown {
        text-align: right;
        margin-top: .5rem;
        padding-right: 2rem;
      }
      ul {
        padding-left: 0;
        margin-top: .7rem;
        li {
          font-size: 1rem;
        }
      }
    }
    .rate {
      &.below {
        small { text-align: right; }
      }
    }
  }
  .highlights-list-wrapper {
    .highlights-list {
      column-count: 2;
      
      li {
       display: inline-block;
      }
    }
  }

  .resort-item-wrapper {
    &.selected {
      .radio-row {
        margin-top: 4rem;
      }
    }
    .resort-highlights-wrapper {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    .rst-name-price-wrapper {
      order:1;
      padding-left: 2rem;
      padding-top: 2rem;
    }
    .rst-img-wrapper {
      order: 0;
      margin-top: -.2rem;
    }
    .desc-wrapper{
      order:2;
      top: -1.5rem;
      text-align: left;
      .resort-desc {
        top: 0rem;
        padding-left: .5rem;
      }
    }
    .rate {
      margin-top: .5rem;
      small { text-align: center; }

      .currency {
        margin-left: 4.8rem;
        margin-top: .5rem;

        span {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .radio-row {
      margin-top: 4rem;
      padding-left: 1rem;
    }
    .item-content {
      order:3;
      &.show-content {
        padding-top: 0;
      }
    }
  }
}
@include respond-to(xlarge) {
  .qq-container {
    .modal-top-bar {
      padding-left: 3rem;
      .prices-shown {
        font-size: 1.5rem;
      }
      ul {

        li {
          font-size: 1.2rem;
        }
        .edit-dates {
          margin-top: -.4rem;
        }
      }
    }
    .select-resort {
      h3 {
      font-size: 3.4rem;
      }
    }
  }
  .resort-item-wrapper {
    .white-container {
      max-width: 80%;
    }
    .resort-name {
      font-size: 2.3rem;

      i { font-size: 1.6rem;}
    }
    .resort-desc {
      font-size: 1.1rem;
    }
    .rate {
      small { font-size: 1.2rem; }
      big { font-size: 3rem; line-height: 2.6rem;}

      .currency {
        span { font-size: 1.1rem; line-height: 1.2rem;}
      }
    }
    .resort-highlights-wrapper {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  .highlights-list-wrapper {
    .highlights-list {
      column-count: 3;
      
      li {
       display: inline-block;
      }
    }
  }
}

@include respond-to(xxl) {
  .qq-container {
    .modal-top-bar {
      padding-left: .5rem;
     .prices-shown {
        font-size: 1.7rem;
      }
      ul {

        li { font-size: 1.6rem; }
      }
    }
  }
  .resort-item-wrapper {
    .radio-row {
      margin-top: 6rem;
    }
    &.selected {
      .radio-row {
        margin-top: 6rem;
      }
    }
    .white-container {
      max-width: 80%;
    }
    .rst-name-price-wrapper {
      padding-top: 3rem;
    }
    .resort-highlights-wrapper {
      padding-left: 5rem;
      padding-right: 5rem;
    }
    .highlights-list-wrapper {
      .highlights-list {
        
        li {
         font-size: 1.3rem;
        }
      }
    }
  }
}




