// Roundtrip Panel Styles
// Author: Oscar Fernando Sauceda
// Global Module created by: Christian Hernàndez.

.roundtrip-flights-panel {
  padding-top: 4rem;

  @include respond-to(xlarge) {
    & > div:first-of-type {
      margin-left: 2rem;
    }
  }

  .radio-btn-wrapper {
    height: 3rem;
    padding-right: 0;
    padding-left: 0;
  } 

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #fff;

    @include respond-to(large) {
      margin-bottom: 0;
      padding-left: 0;
      font-size: 2.2rem;
    }

    @include respond-to(xlarge) {
      font-size: 3.4rem;
      padding-right: 0;
      margin-left: 2rem;
    }
  }

  label {
    padding-left: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;    
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    z-index: z(before);

    @include respond-to(large) {
      padding-top: 1rem;
      font-size: 1.4rem;
    }

    @include respond-to(xlarge) {
      font-size: 1.8rem; 
    }
  }

  #no-flights ~ label {
    padding-left: 3.8rem;

    @include respond-to(large) {
      padding-right: .2rem;
    }
  } 

  .radio-check {
    position: absolute;
    top: .2rem;
    left: .5rem;
    z-index: z(before);

    @include respond-to(xlarge) {
      top: 0;
      left: -0.5rem;
      width: 3.5rem;
      height: 3.5rem;
    }    

    &::before {

      @include respond-to(xlarge) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.search-panel-wrapper {
  margin-top: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-out;

  input[type="text"] {
    padding-left: 1.5rem;
  }

  &.visible {
    max-height: 50rem;
    transition: all .3s ease-in;
    overflow: visible;
  }
  
  .field-wrap {
    margin-bottom: 0;
  }

  .search-panel-ttl + div,
  .search-panel-ttl + form {
    margin-top: 1rem;
  }

  .auto-suggester-wrapper {
    padding-right: .5rem;
  }
  .ddl-wrap {
    @include respond-to(large) {
      padding-left: .5rem;
    }
  }
}

.search-panel-ttl {
  color: #fff;
}

.important-message {
  font-size: 1.2rem;
  color: color(grey);

  @include respond-to(large) {
    margin-top: 1.4rem;
    font-size: 1.4rem;
  }
}
