.slider-container {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  color: #333;
  background: transparent;

  .slick-slider {
    margin: 30px auto 50px;
  }
  .slick-count {
    color: #787878;
  }
  .slick-dots {
    margin-left: 0;
  }
  .slick-arrow {
    border: solid #373737;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 13px;
    z-index: 5;
  }

  .slick-next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 24px;
  }

  .slick-prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 24px;
  }

  .slick-next:before, .slick-prev:before {
    display: none;
  }
  .slick-active {
      opacity: 1;
  }
  .slick-slide {
    border: 5px solid #FFF;
    display: block;
    margin: auto;

    img {
      width: 100%;
      height: auto;

      &.slick-loading {
        border: 0
      }
    }
  }
  .center {
    transition: all 300ms ease;
    
    .slick-slide {
      opacity: .5;
    }
    .slick-active {
        opacity: .5;
    }
    .slick-center {
      color: #e67e22;
      opacity: 1
    }
  }
}
.simple {
  padding: 0;
  .slick-slide {
    border: none;
  }
}
.slick-thumb {
  bottom: -45px;
  li {
    width: 60px;
    height: 45px;
    img {
      filter: grayscale(100%);
    }
    &.slick-active {
      img {
        filter: grayscale(0%);        
      }
    }
  }
}
@media (max-width: 768px) {
  .slider-container {

    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
}