.tab-theme {
	@include font($font-size: 1.8rem, $line-height: 1, $font-family: $font-os-semibold);
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: -.7px;
	text-transform: uppercase;
	background: color(grey, darker-1);
	border-top-left-radius: map-get($radius, md);
	border-top-right-radius: map-get($radius, md);
	border-right: 2px solid color(grey, darker-2);
	transition: all $transition-duration ease-in;
	cursor: pointer;
	outline: none;

	&:last-child() {
	  border-right: none;
	}

	&:before {
	  display: none;
	  content: '';
	}

	span {
	  font-size: 2.4rem;
	}

	&:hover,
	&.selected {
	  background: #fff;
	  color: color(grey, darker-2);
	}
}