<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie-edge" />
  <title>Chambas</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="BOp8pigR4sXnxsljQA4fTQhBAMNXYoPFAz-sNotZEnw" />
  {{> layout/css }}
  {{> layout/js }}
</head>
<body>
  <main role="main">
    {{!--  Top Menu --}}
    {{> layout/header }}

    {{! content will be inserted below }}
    {{{ content }}}

    {{!-- Footer --}}
    {{> layout/footer }}
  </main>
</body>
</html>