<div class="home-content black-font-theme">
	<section class="hero-banner-wrapper pr">
		<img src="/assets/img/home/chambas-hero-banner.jpg" alt="" class="img-responsive">
		<h1 class="hero-ttl pa txt-center">La manera más fácil de encontrar los servicios que necesitas</h1>
		<div id="root" class="pa"></div>
	</section>

	<div class="container">
		<section class="chambas-what-is-it">
			<h3 class="section-ttl txt-center">Todos los servicios que necesitas a tan solo un <span>click</span></h3>
			<p class="chambas-desc txt-center">Chambas es una plataforma que te permite buscar y contratar diferentes tipos de servicios desde la comodidad de tu casa. Sólo tienes que seleccionar los servicios que requieres y nosotros nos encargamos de buscar al profesional que te atendera.  Todos los profesionales son personas calificadas y previamente seleccionadas para ofrecer sus servicios.</p>
		</section>
		<section class="chambas-how-it-works">
			<h3 class="section-ttl txt-center">¿Cómo funciona?</h3>
			<div class="row center-xs middle-xs">
				{{!-- Pick a service --}}
				<div class="xs-7 lg-4">
					<img src="/assets/img/icons/step-one.svg" alt="" class="img-responsive">
				</div>
				<div class="xs-12 lg-6">
					<h6 class="workflow-ttl">Selecciona un Servicio</h6>
					<p class="workflow-desc">
						Busca el servicio que necesitas. Es fácil y rápido. Tenemos decenas de tipos de servicios listados, todos realizados por profesionales calificados.
					</p>
				</div>
				{{!-- Choose a provider? --}}
				<div class="row center-xs middle-xs">
					<div class="xs-7 lg-4 last-lg">
						<img src="/assets/img/icons/step-two.svg" alt="" class="img-responsive">
					</div>
					<div class="xs-12 lg-6 first-lg">
						<h6 class="workflow-ttl">Elige un Proveedor</h6>
						<p class="workflow-desc">
							Una vez hayas encontrado lo que necesitas, solicitalo y en seguida buscaremos al profesional que te hará el trabajo. Entre 24-48 horas te contactaremos para coordinar la visita.
						</p>
					</div>
				</div>
				{{!-- DONE! --}}
				<div class="xs-7 lg-4">
					<img src="/assets/img/icons/step-three.svg" alt="" class="img-responsive">
				</div>
				<div class="xs-12 lg-6">
					<h6 class="workflow-ttl">Listo! Finaliza el Proceso</h6>
					<p class="workflow-desc">
						Una vez terminado el trabajo procede a calificar el servicio recibido y listo! Tu opinión nos ayudará a fortalecer nuestra comunidad de profesionales.
					</p>
				</div>
			</div>
		</section>
		<section class="chambas-services">
			<h3 class="section-ttl txt-center">Servicios Populares</h3>
			<div class="row">
				<div class="xs-6 lg-4">
					<a href="task/electricidad" class="service-card display-block pr">
						<img src="/assets/img/home/electricidad.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Electricidad</span>
					</a>
				</div>
				<div class="xs-6 lg-4">
					<a href="task/mecanica" class="service-card display-block pr">
						<img src="/assets/img/home/mecanica.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Mecánica</span>
					</a>
				</div>
				<div class="xs-6 lg-4">
					<a href="task/jardineria" class="service-card display-block pr">
						<img src="/assets/img/home/jardineria.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Jardinería</span>
					</a>
				</div>
				<div class="xs-6 lg-4">
					<a href="task/limpieza" class="service-card display-block pr">
						<img src="/assets/img/task/types/limpieza-bg.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Limpieza</span>
					</a>
				</div>
				<div class="xs-6 lg-4">
					<a href="task/fontaneria" class="service-card display-block pr">
						<img src="/assets/img/home/fontaneria.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Fontanería</span>
					</a>
				</div>
				<div class="xs-6 lg-4">
					<a href="task/pintura" class="service-card display-block pr">
						<img src="/assets/img/home/pintura.jpg" alt="" class="img-responsive">
						<span class="service-label pa">Pintura</span>
					</a>
				</div>
			</div>
		</section>
		<section class="chambas-benefits">
			<div class="row">
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/clock.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Ahorra Tiempo y Dinero</h6>
					<p class="benefit-desc">
						Chambas te permite ahorrar tiempo y dinero al darte una forma fácil y rápida de buscar los servicios que necesitas.
					</p>
				</div>
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/calendar.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Reserva Sin Complicaciones</h6>
					<p class="benefit-desc">
						Reservar un servicio solo te tomará un par de clicks. Es rápido, sencillo y confiable.
					</p>
				</div>
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/wrench.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Variedad de Servicios</h6>
					<p class="benefit-desc">
						Encuentra todos los servicios que necesites. Tenemos decenas de opciones.
					</p>
				</div>
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/people.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Excelente Servicio al Cliente</h6>
					<p class="benefit-desc">
						Nuestro servicio al cliente esta disponible a toda hora para atender tus preocupaciones y preguntas.
					</p>
				</div>
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/check.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Calidad Garantizada</h6>
					<p class="benefit-desc">
						Confiamos en la calidad del servicio y trabajo de nuestros proveedores. Siempre buscamos a los mejores.
					</p>
				</div>
				<div class="xs-6 lg-4">
					<img src="/assets/img/icons/protection.svg" alt="" class="img-responsive">
					<h6 class="benefit-ttl">Seguridad y Confianza</h6>
					<p class="benefit-desc">
						Tu seguridad y confianza es muy importante y es por eso que nuestro proceso de selección de profesionales es muy importante para nosotros.
					</p>
				</div>
			</div>
		</section>
	</div>
	<section class="chambas-join-us row txt-center">
		<div class="xs-12 join-us-content">
			<h3 class="section-ttl">Únete y ofrece tus servicios!</h3>
			<p class="join-us-copy">Te invitamos a formar parte de nuestra comunidad de profesionales! si eres alguien que:</p>
			<ul>
				<li>Desea obtener ingresos adicionales.</li>
				<li>Puede ofrecer servicios técnicos calificados.</li>
				<li>Desea obtener nuevos clientes</li>
			</ul>
		</div>
		<div class="xs-12 lg-4 center">
			<a href="#" class="btn-default btn-register">Regístrate!</a>
		</div>
	</section>
</div>
<script src="/assets/js/views/home/index.js" defer></script>