<div id="pick-provider-view">
	<div class="container-fluid container">
		<section class="intro">
			<h1>Elige un proveedor</h1>
			<p>Habla con tu proveedor de servicio, después de agendar una cita</p>
		</section>
		<section class="row txt-center">
			<div class="card xs-12">
		  		<div class="row middle-lg">
				    <div class="xs-12 lg-3"><img class="profile-pic" src="https://www.w3schools.com/howto/img_avatar2.png" alt=""></div>
				    <div class="content container-fluid xs-12 lg-7">
				      {{!-- <small class="featured">featured</small> --}}
				      <strong class="title">Astrid Murillo</strong>
				      <p class="description">Apples are more efficient than caffeine in keeping people awake in the morning.</p>
				      <ul class="features container-fluid">
				      	<li>Visita diagnóstico gratis</li>
				      	<li>+4 años de experiencia</li>
				      	<li>Garantía 6 meses</li>
				      </ul>
				      <div class="row center-xs actions-wrapper">
				      	<a href="" class="xs-4 select-provider profile">Perfil</a>
				      	<a href="/task-form" class="xs-4 select-provider">Seleccionar</a>
				      </div>
				    </div>
			    </div>
		  	</div>
		  	<div class="card xs-12">
		  		<div class="row middle-lg">
				    <div class="xs-12 lg-3"><img class="profile-pic" src="https://www.w3schools.com/howto/img_avatar.png" alt=""></div>
				    <div class="content container-fluid xs-12 lg-7">
				      {{!-- <small class="featured">featured</small> --}}
				      <strong class="title">Henry Fay</strong>
				      <p class="description">Apples are more efficient than caffeine in keeping people awake in the morning.</p>
				      <ul class="features container-fluid">
				      	<li>Visita diagnóstico gratis</li>
				      	<li>+3 años de experiencia</li>
				      	<li>Disponible 24/7</li>
				      </ul>
				      <div class="row center-xs actions-wrapper">
				      	<a href="" class="xs-4 select-provider profile">Perfil</a>
				      	<a href="/task-form" class="xs-4 select-provider">Seleccionar</a>
				      </div>
				    </div>
			    </div>
		  	</div>

			<div class="card xs-12">
		  		<div class="row middle-lg">
				    <div class="xs-12 lg-3"><img class="profile-pic" src="https://www.w3schools.com/w3images/avatar2.png" alt=""></div>
				    <div class="content container-fluid xs-12 lg-7">
				      {{!-- <small class="featured">featured</small> --}}
				      <strong class="title">Hector Orestes</strong>
				      <p class="description">Apples are more efficient than caffeine in keeping people awake in the morning.</p>
				      <ul class="features container-fluid">
				      	<li>Visita diagnóstico gratis</li>
				      	<li>+2 años de experiencia</li>
				      </ul>
				      <div class="row center-xs actions-wrapper">
				      	<a href="" class="xs-4 select-provider profile">Perfil</a>
				      	<a href="/task-form" class="xs-4 select-provider">Seleccionar</a>
				      </div>
				    </div>
			    </div>
		  	</div>
		</section>
	</div>
</div>

<div id="pick-provider-panel"></div>
{{!-- <script src="/assets/js/views/landings/subscribe.js" defer></script> --}}