<div id="providers-view">
	<div class="main-bg-wrapper">
		<img class="img-responsive subscribe-bg" src="../assets/img/providers/provider-main.jpg" alt=""/>
	</div>
    <section class="chambas-perks container container-fluid">
        <div class="perk row txt-center">
            <div class="xs-10 lg-4 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/chambas-meeting.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Ser parte de Chambas, tiene grandes beneficios.</strong>
                <p class="perk-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>

        <div class="perk row txt-center">
            <div class="xs-7 lg-2 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/time-money.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Ahorre tiempo y dinero</strong>
                <p class="perk-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="perk row txt-center">
            <div class="xs-7 lg-2 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/team.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Trabajo con equipo profesional</strong>
                <p class="perk-desc">Permanecer junto a los demás profesionales con el objetivo de crecer y mejorar el servicio al cliente.</p>
            </div>
        </div>

        <div class="perk row txt-center">
            <div class="xs-7 lg-2 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/grow.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Crecimiento Profesional</strong>
                <p class="perk-desc">Muchos elementos de nuestro servicio a proveedores otorgan información retroalimentada que puede ser utilizada para impulsar y demostrar mejora continua, y diferenciarse de sus competidores.</p>
            </div>
        </div>

        <div class="perk row txt-center">
            <div class="xs-7 lg-2 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/new-customers.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Expande tu cartera de clientes</strong>
                <p class="perk-desc">Nuestras reconocidas comunidades de compradores permiten a los proveedores promocionarse ante una amplia gama de organizaciones compradoras - a nivel local como en nuevos mercados. </p>
            </div>
        </div>

        <div class="perk row txt-center">
            <div class="xs-7 lg-2 center margin-bottom-2">
                <img class="img-responsive" src="../assets/img/providers/privacy.png" alt=""/>
            </div>
            <div class="xs-12 lg-6">
                <strong class="main-text">Protección de su información de forma permanente.</strong>
                <p class="perk-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u</p>
            </div>
        </div>
    </section>
</div>




<div id="rewards-panel"></div>
<script src="/assets/js/views/landings/subscribe.js" defer></script>