<div id="subscribe-panel">
	<div class="main-bg-wrapper">
		<div class="main-content">
			<h1 class="headline">La manera mas facil de encontrar los servicios que necesitas</h1>
			<label for="subscribe xs-12">Recibe noticias y actualizaciones</label>
			<input name="subscribe xs-12" class="subscribe-input" type="text">
			<button class="subscribe-btn">Suscribirse</button>
		</div>
		<img class="img-responsive subscribe-bg" src="./assets/img/landing-pages/subscribe-newsletter/newsletter-bg.jpg" alt=""/>
	</div>

	<div class="intro-wrapper">
		<h2 class="intro-title">Todos los servicios que necesitas a tan solo un click de distancia</h2>
		<p class="intro-copy">Chambas es una plataforma que te permite buscar y contratar diferentes tipos de servicios
			desde la comodidad de tu casa. Solo tienes que seleccionar los servicios que requieres
			y nosotros nos encargamos de buscar al profesional que te atendera.  Todos los profesionales
			son personas calificadas y previamente seleccionadas para ofrecer sus servicios.
		</p>
	</div>

	<div class="xs-12 subscribe-steps txt-center">
        <h3>¿Cómo funciona?</h3>
        <div class="row container margin-auto">
            <div class="xs-12 xl-4 step-item">
              <div class="row middle-lg">
                <div class="xs-3 lg-2 xl-2 center">
                 	<img class="img-responsive" src="./assets/img/landing-pages/subscribe-newsletter/search.svg" alt=""/>
                </div>
                <p class="xs-12 lg-8 xl-11">Busca el servicio que necesitas. Es facil y rapido. Tenemos decenas de tipos de servicios listados, todos realizados por profesionales calificados.
                </p>
            	</div>
       		</div>
            <div class="xs-12 xl-4 step-item">
                <div class="row middle-lg">
                	<div class="xs-3 lg-2 xl-2 center">
                  		<img class="img-responsive" src="./assets/img/landing-pages/subscribe-newsletter/request.svg" alt=""/>
                	</div>
                <p class="xs-12 lg-8 xl-11">
                	Una vez hayas encontrado lo que
					necesitas, solicitalo y en seguida
					buscaremos al profesional que
					te hara el trabajo. Tu solo esperas
					el contacto para coordinar la visita.
				</p>
                </div>
            </div>

            <div class="xs-12 xl-4 step-item">
            	<div class="row middle-lg">
                	<div class="xs-3 lg-2 xl-2 center">
                  		<img class="img-responsive" src="./assets/img/landing-pages/subscribe-newsletter/rate.svg" alt=""/>
                	</div>
                <p class="xs-12 lg-8 xl-11">
                	Una vez terminado el trabajo
					procede a calificar el servicio
					recibido y listo! Tu opinión
					nos ayudará a fortalecer
					nuestra comunidad de profesionales.
				</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="newsletter-panel"></div>
<script src="/assets/js/views/landings/subscribe.js" defer></script>