<div id="task-type-view">
	<div class="main-bg-wrapper">
		<img class="img-responsive" src="../assets/img/task/types/{{params.type}}-bg.jpg" alt=""/>
	</div>
	<div id="task-type-panel"></div>
</div>

<script>
	_app.page = {
		taskURLParameter: '{{params.type}}'
	};
</script>
<script src="/assets/js/views/task/task-type.js" defer></script>