<div id="task-collection-view">
	<div class="main-bg-wrapper">
		<img class="img-responsive subscribe-bg" src="../assets/img/task/task-collection-bg.jpg" alt=""/>
	</div>
	<div id="task-collection-panel"></div>
</div>
<script src="/assets/js/views/task/task-collection.js" defer></script>