<div id="task-form-view">
	<div class="main-bg-wrapper">
		<img class="img-responsive subscribe-bg" src="../assets/img/task/task-collection-bg.jpg" alt=""/>
	</div>
	<div class="container">
		<h6>Llena tus datos:</h6>
		<form class="main-form" data-action="/task-form/thank-you/">
			<label for="firstName">Nombre:</label>
			<input name="firsName" class="form-control" type="text" required >

			<label for="firstName">Apellido:</label>
			<input name="lastName" class="form-control" type="text" required >

			<label for="email">Correo Electrónico:</label>
			<input name="email" class="form-control" type="email" required >

			<label for="phone">Número de celular:</label>
			<input name="phone" class="form-control" type="tel" required >

			<label for="ciudad">Ciudad:</label>
			<select name="" id="ciudad" class="form-control" required>
				<option value="">Seleccione su ciudad</option>
				<option value="">San Pedro Sula</option>
				<option value="">Tegucigalpa</option>
				<option value="">La Ceiba</option>
			</select>

			<label for="address">Dirección:</label>
			<textarea name="address" class="form-control" required></textarea>

			<label for="details">Detalle de tu solicitud:</label>
			<textarea name="details" class="form-control" required></textarea>
			<div class="row center-xs">
				<button class="xs-12 lg-6 xl-4 btn-confirm">Contratar</button>
			</div>
		</form>
	</div>
</div>
<script src="/assets/js/views/task/task-form.js" defer></script>