<div id="task-form-thankyou-view">
	<div class="main-bg-wrapper">
		<img class="img-responsive subscribe-bg" src="https://cdn.pixabay.com/photo/2017/01/17/03/57/season-1985856_960_720.jpg" alt=""/>
	</div>
	<div class="container">
		<h2 class="request-sent">Solicitud enviada</h2>
		<p>Nos estaremos comunicando contigo, lo más pronto posible!</p>
	</div>

	<div id="task-form-panel"></div>
</div>
{{!-- <script src="/assets/js/views/task/task-form.js" defer></script> --}}