#task-form-thankyou-view {
    .main-bg-wrapper {
    	@include respond-to(xxl) {
	      background: #1a1a1a;
			img {
			    width: 60%;
	    		margin: 0 auto;
			}
	    }
	}
	.request-sent {
		font: 3rem $font-os-semibold;
	}
}