#providers-view {
	.main-bg-wrapper {
	    padding-top: 6.5rem;
	}
	.chambas-perks {
		.perk {
			margin-top: 2rem;
		}
		.main-text {
			font: bold 1.8rem/1 $font-os-regular;
			color: #131425;
		}
		.perk-desc {
			font: 1.2rem/1.5 $font-os-regular;
			color: #131425;
		}
	}
}