#pick-provider-view {
	padding-top: 6.6rem;
	min-height: 90rem;

	.intro {
		h1 {
			font: 2rem $font-os-semibold;
		}
		p {
			font: 1.2rem $font-os-light;
		}
	}
	.profile-pic {
	    width: 20rem;
    	height: 20rem;
    	border-radius: 100%;
	}
	.select-provider {
		margin-right: 1.5rem;
		font: 1.2rem $font-os-semibold;
	    border: 1px solid #000;
		padding: .4rem 1.5rem;
		border-radius: 5rem;
		background: #fff;
	    color: #000;

	    &:hover {
	    	background: #0085B7;
	    	border-color: #0085B7;
	    	color: #fff;
	    }
	    &.profile {
	    	&:hover {
		    	background: #3b8294;
		    	border-color: #3b8294;
		    	color: #fff;
		    }
	    }
	}
	.actions-wrapper {
		margin-top: 3rem;
	}
	.features {
		text-align: left;
		font: 1.2rem $font-os-regular;
	}
}