.srv-cards-wrapper {
	.card {
		.img-responsive {
			margin-top: .5rem;
			@include respond-to(large) {
				height: 18rem;
	        }
			@include respond-to(xlarge) {
				height: 22rem;
	        }
		}
		.task-details {
			margin-bottom: 1rem;
			font: 1.2rem $font-os-semibold;
		    border: 1px solid #000;
    		padding: .4rem 2rem;
    		border-radius: 5rem;
    		background: #fff;
		    color: #000;

		    &:hover {
		    	background: #0085B7;
		    	border-color: #0085B7;
		    	color: #fff;
		    }

		    i {
		    	margin-right: .5rem;

		    	&.icon-whatsapp {
		    		color: #25D366;
		    	}
		    	&.icon-bubble {
		    		color: #543c90;
		    	}
		    	&.icon-phone {
		    		color: #543c90;
		    	}
		    }
		}
		.content {
			padding: 1rem 2rem 0;
			.title {
				font: 1.4rem/1 $font-os-semibold;
			    text-transform: capitalize;
			}
			.description {
				margin-top: .2rem;
				font: 1rem/1.2rem $font-os-regular;
				color: #000;
			}
		}
		&:hover {
		    animation: none;
		}
	}
}
