#task-type-view {
    .main-bg-wrapper {
    	@include respond-to(xxl) {
	      background: #1a1a1a;
			img {
			    width: 65%;
	    		margin: 0 auto;
			}
	    }
	}
	.card {
		box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
	}
}