@import 'pages/task/item-card';

#task-collection-view {
	.intro {
		h5 {
			font: 3rem/2.5rem $font-os-regular;
		}
		p {
			font: 1.2rem $font-os-regular;
		}
	}
	.padding-less {
	    padding-right: 0;
	}
}