/*
// Base Stylings
// ------------------------------------------------ */

/*==== General ====*/
  html {
    font-size: 10px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    // @include respond-to(medium) {
    //   font-size: $font-size;
    // }
    // @include respond-to(large) {
    //   font-size: $font-size;
    // }
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    @include font($font-weight, $font-size, $line-height, $font-family: $font-base);
    // font: $font-weight #{$font-size}/#{$line-height} $font-base;
    color: $font-color;
    background: $body-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    &.has-mm {
      padding-top: $mm-height;

      @include respond-to(large) {
        padding-top: 0;
      }
    }
  }
  a {
    color: $link-color;
    text-decoration: none;
    transition: all $transition-duration ease;

    &:hover,
    &:focus,
    &:active {
      color: $link-color;
      text-decoration: $link-hover-decoration;
    }
  }
  a[href^="tel"]{
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        color: color(blue);
        font-size: 20px;
        transform: translateY(-50%);
        content: '•';
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: ordered-list;

    li {
      &::before {
        // position: absolute;
        // top: 50%;
        // left: 0;
        margin-right: .3rem;
        color: color(blue);
        counter-increment: ordered-list;
        content: counter(ordered-list) ".";
      }
    }
  }
  @include respond-to(large) {
    html {
      font-size: 11px;
    }
  }

  @include respond-to(xlarge) {
    html {
      font-size: 12px;
    }
  }