/*
// Utilities
// ------------------------------------------------ */

/*==== General ====*/
  .pull-right { float: right; }
  .pull-left { float: left; }
  .pull-none { float: none; }
  .clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

/*==== Postitioning ====*/
  .center { margin: auto auto; }
  .txt-center { text-align: center; }
  .txt-right  { text-align: right;  }
  .txt-left   { text-align: left;   }
  .margin-auto { margin: 0 auto!important; }
  .container-fluid { padding-left: 2rem; padding-right: 2rem; }

/*==== Toggling content ====*/
  .hide { display: none; }
  .show { display: block; }
  .invisible { visibility: hidden; }
  .visible { visibility: visible; }
  .muted { opacity: .7; }
  .no-flow {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .xflow { overflow-x: scroll; -webkit-overflow-scrolling: touch; }
  .no-flow-x { overflow-x: hidden; }

/*==== Positioning ====*/
  .affix { position: fixed; }
  .pr { position: relative; }
  .pa { position: absolute; }
  .center { margin: auto auto; }

/*==== Inline Block ====*/
  .ib {
    display: inline-block;
    vertical-align: middle;
  }

/*==== Display-block ====*/
  .display-block {
    display: block;
  }
/*==== Images ====*/
  .img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .margin-bottom-1 {
    margin-bottom: 1rem;
  }
  .margin-bottom-2 {
    margin-bottom: 2rem;
  }
  .main-bg-wrapper {
      padding-top: 6.5rem;
  }